body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  font-family: Lato;
  min-height: 100vh;
}

header {
  background: rgb(0, 0, 0);
  padding: 0.35rem;
}

header h1 {
  line-height: 4px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  
}
input::placeholder {
  color: rgb(151, 146, 146);
  font-size: 12px;
  font-style: italic;
  text-align: left;
}

/* GRID SYSTEM */

#outter-container {
  padding: 0.5rem 2rem;
  background-image: url("bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% 100%;
  padding-left: 55px;

  display: grid;
  grid-template-columns: 38% 55%;
  column-gap: 70px;
  row-gap: 50px;
}

/*_________________BUDGET FORM_____________________*/

#budget-container {
  border: 2px solid green;
  padding: 1rem;
  border-radius: 5px;
  order: 1;
}

#budget-container label {
  display: block;
  font-size: 1.5rem;
}

#budget-container input {
  width: 95%;
  display: block;
  margin: 25px 0;
  padding: 0.25rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid green;
  outline: green;
}
#budget-container input:focus {
  box-shadow: 0 0 5px 0px black; /* blurr effect */
}

#budget-container button {
  display: block;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 1px solid green;
  color: green;
  margin-top: 35px;
  outline: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

#budget-container button:hover {
  background: green;
  color: white;
  cursor: pointer;
}

#budget-container button:active {
  background: darkgreen;
}

/*______________________________EXPENSE FORM__________________________ */

#expenseEntry-container {
  border: 2px solid rgb(150, 0, 0);
  padding: 0.75rem;
  border-radius: 5px;
  order: 3;
}

#expenseEntry-container label {
  display: block;
  font-size: 1.2rem;
}

#expenseEntry-container input {
  width: 95%;
  display: block;
  margin: 10px 0;
  padding: 0.25rem;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid rgb(150, 0, 0);
  outline: rgb(150, 0, 0);
}

#expenseEntry-container input:focus {
  box-shadow: 0 0 5px 0px black; /* blurr effect */
}

#expenseEntry-container button {
  display: block;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 1px solid rgb(150, 0, 0);
  color: rgb(150, 0, 0);
  margin: 5px 0;
  font-size: 1rem;
  outline: none;
}

#expenseEntry-container button:hover {
  cursor: pointer;
  background-color: r gb(150, 0, 0);
  color: white;
  transition: all 0.2s ease-in-out;
}

#expenseEntry-container button:active {
  background-color: rgb(97, 0, 0);
}

/* __________________________BALANCE DISPLAY SECTION__________________________ */

#balanceDisplay-container {
  display: flex;
  justify-content: space-between;
  order: 2;
}


#balanceDisplay-container > * {
  padding: 0.25rem;
}

#balanceDisplay-container i {
  /*font awesome icons */
  font-size: 4rem;
  color: rgb(46, 72, 107);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

#balanceDisplay-container h2 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(2, 1, 1);
  body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: #f0f0f0;
      font-family: Lato;
      min-height: 100vh;
    }
    
    header {
      background: rgb(0, 0, 0);
      padding: 0.35rem;
    }
    
    header h1 {
      line-height: 4px;
      color: rgb(3, 2, 2);
      text-align: center;
      font-size: 1.5rem;
    }
    
    /* GRID SYSTEM */
    
    #outter-container {
      padding: 0.5rem 2rem;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 38% 55%;
      column-gap: 70px;
      row-gap: 50px;
    }
    
    /*_________________BUDGET FORM_____________________*/
    
    #budget-container {
      border: 2px solid green;
      padding: 1rem;
      border-radius: 5px;
      order: 1;
    }
    
    #budget-container label {
      display: block;
      font-size: 1.5rem;
    }
    
    #budget-container input {
      width: 95%;
      display: block;
      margin: 25px 0;
      padding: 0.25rem;
      font-size: 1.4rem;
      text-align: center;
      border-radius: 5px;
      border: 1px solid green;
      outline: green;
    }
    #budget-container input:focus {
      box-shadow: 0 0 5px 0px black; /* blurr effect */
    }
    
    #budget-container button {
      display: block;
      padding: 0.5rem 0.75rem;
      background: transparent;
      border: 1px solid green;
      color: green;
      margin-top: 35px;
      outline: none;
      font-size: 1rem;
      transition: all 0.2s ease-in-out;
    }
    
    #budget-container button:hover {
      background: green;
      color: white;
      cursor: pointer;
    }
    
    #budget-container button:active {
      background: darkgreen;
    }
    
    /*______________________________EXPENSE FORM__________________________ */
    
    #expenseEntry-container {
      border: 2px solid rgb(150, 0, 0);
      padding: 0.75rem;
      border-radius: 5px;
      order: 3;
    }
    
    #expenseEntry-container label {
      display: block;
      font-size: 1.2rem;
    }
    
    #expenseEntry-container input {
      width: 95%;
      display: block;
      margin: 10px 0;
      padding: 0.25rem;
      text-align: center;
      font-size: 1.4rem;
      border-radius: 5px;
      border: 1px solid rgb(150, 0, 0);
      outline: rgb(150, 0, 0);
    }
    
    #expenseEntry-container input:focus {
      box-shadow: 0 0 5px 0px black; /* blurr effect */
    }
    
    #expenseEntry-container button {
      display: block;
      padding: 0.5rem 0.75rem;
      background: transparent;
      border: 1px solid rgb(150, 0, 0);
      color: rgb(150, 0, 0);
      margin: 5px 0;
      font-size: 1rem;
      outline: none;
    }
    
    #expenseEntry-container button:hover {
      cursor: pointer;
      background-color: rgb(150, 0, 0);
      color: white;
      transition: all 0.2s ease-in-out;
    }
    
    #expenseEntry-container button:active {
      background-color: rgb(97, 0, 0);
    }
    
    /* __________________________BALANCE DISPLAY SECTION__________________________ */
    
    #balanceDisplay-container {
      display: flex;
      justify-content: space-between;
      order: 2;
    }
    
    #balanceDisplay-container > * {
      padding: 0.25rem;
    }
    
    #balanceDisplay-container i {
      /*font awesome icons */
      font-size: 4rem;
      color: rgb(0, 53, 122);
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
    
    #balanceDisplay-container h2 {
      text-transform: uppercase;
      text-align: center;
      color: rgb(14, 2, 2);
      margin: 0;
    }
    
    #balanceDisplay-container .moneyOutput {
      font-size: 2.25rem;
      text-align: center;
      margin: 0;
    }
    
    .text-red {
      color: rgb(180, 0, 0);
    }
    .text-green {
      color: green;
    }
    
    /*______________________EXPENSES DISPLAY _______________________________*/
    #expenses-container {
      /* border: 1px solid black; */
      order: 4;
      width: 100%;
      height: 230px;
      overflow-y: scroll;
    }
    #table-list {
      width: 100%;
      padding: 0;
    }
    
    #expenses-container h2 {
      font-size: 1.1rem;
    }
    
    #table-list th {
      text-align: left;
      padding: 0.5rem;
      font-size: 1.1rem;
      border-bottom: 1px solid rgb(119, 119, 119);
    }
    
    #table-list td {
      padding: 0.5rem;
      color: rgb(180, 0, 0);
      font-size: 1.4rem;
      border-bottom: 1px solid lightgray;
    }
    
    .icons {
      text-align: right;
    }
    #table-list i {
      margin-bottom: 8px;
      font-size: 1.5rem;
      padding: 0 0.2rem;
      cursor: pointer;
    }
    
    #table-list i:hover {
      color: black;
    }
    
    .editBtn {
      color: rgb(0, 53, 122);
    }
    
    .removeBtn {
      color: rgb(180, 0, 0);
    }
    
    /* ERROR MESSAGES */
    .error-active {
      margin-top: 10px;
      padding: 1rem;
      font-size: 1.1rem;
      background: rgb(255, 95, 95);
      color: white;
    }
    
    /* ____________________________MEDIA QUERY FOR RESPONSIVE DESIGN____________________________ */
    @media screen and (max-width: 1100px) {
      #outter-container {
        column-gap: 20px;
      }
    }
    @media screen and (max-width: 760px) {
      #outter-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }
      #budget-container {
        order: 1;
      }
      #expenseEntry-container {
        order: 2;
      }
      #balanceDisplay-container {
        order: 3;
      }
      #expenses-container {
        order: 4;
      }
    }
       margin: 0;
}

#balanceDisplay-container .moneyOutput {
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
}

.text-red {
  color: rgb(180, 0, 0);
}
.text-green {
  color: green;
}

/*______________________EXPENSES DISPLAY _______________________________*/
#expenses-container {
  /* border: 1px solid black; */
  order: 4;
  width: 100%;
  height: 230px;
  overflow-y: scroll;
}
#myInput {
  background-image: url('search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 85%;
  background-size: 5%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgb(10, 8, 8);
  margin-bottom: 12px;
}
#table-list {
  width: 100%;
  padding: 0;
}

#expenses-container h2 {
  font-size: 1.1rem;
}

#table-list th {
  text-align: left;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-bottom: 1px solid rgb(119, 119, 119);
}

#table-list td {
  padding: 0.5rem;
  color: rgb(180, 0, 0);
  font-size: 1.4rem;
  border-bottom: 1px solid lightgray;
}

.icons {
  text-align: right;
}
#table-list i {
  margin-bottom: 8px;
  font-size: 1.5rem;
  padding: 0 0.2rem;
  cursor: pointer;
}

#table-list i:hover {
  color: black;
}

.editBtn {
  color: rgb(0, 53, 122);
}

.removeBtn {
  color: rgb(180, 0, 0);
}

/* ERROR MESSAGES */
.error-active {
  margin-top: 10px;
  padding: 1rem;
  font-size: 1.1rem;
  background: rgb(255, 95, 95);
  color: white;
}

/* ____________________________MEDIA QUERY FOR RESPONSIVE DESIGN____________________________ */
@media screen and (max-width: 1100px) {
  #outter-container {
    column-gap: 20px;
  }
}
@media screen and (max-width: 760px) {
  #outter-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  #budget-container {
    order: 1;
  }
  #expenseEntry-container {
    order: 2;
  }
  #balanceDisplay-container {
    order: 3;
  }
  #expenses-container {
    order: 4;
  }
}
